.container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
}

.navbar {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

li {
    display: inline-flex;
}

header {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}