.container {
    background-color: slategrey;
}

.links {
    display: inline;
    color: white;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    padding-left: 20px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    padding-left: 20px;
}

.hashtag-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: white;
    padding-left: 20px;
}

form {
    height: 25px;
    width: 100px;
}

button {
    height: 25px;
    width: 50px;
}