* {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9) 1fr;
}

h1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 30px;
    text-align: center;
}

.title {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.model-year {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.body {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.author {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.hashtag-title {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

ul {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

form {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}