<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Miata Blog</title>
    <link rel="stylesheet" href="../css/categories-layout.css"/>
    <link rel="stylesheet" href="../css/categories-style.css"/>
</head>
<div class="container">
    <h1>Miata Blog</h1>
    <div class="links">
            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/hashtags">Hashtags</a>
        </div>
<body>
    <h2 class="left-side">Categories:</h2>
    <div class="categories">
        <ul>
            <li th:each="category: ${categories}"><a th:text="${category.categoryName}"
                                                     th:href="'/category/' + ${category.categoryName}"></a>
            </li>
        </ul>
    </div>
    <h2 class="right-side">Add a Category</h2>
    <form action="/addCategory" method="POST">
        <label for="add-category" class="form__label"></label>
        <input type="text" name="categoryName" id="add-category">
        <button>Add</button>
    </form>
</body>
</div>
<footer>
</footer>
</html>