<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Miata Blog</title>
    <link rel="stylesheet" href="../css/category-layout.css"/>
    <link rel="stylesheet" href="../css/category-style.css"/>
</head>
<div class="container">
<body>
    <h1>Miata Blog</h1>
    <div class="links">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/authors">Authors</a>
        <a href="/hashtags">Hashtags</a>
    </div>
    <h2 th:text="${category.categoryName} + ' Posts:'">Maintenance</h2>
    <ul>
        <li th:each="post: ${category.posts}"><a th:text="${post.postTitle}" th:href="'/post/' + ${post.postTitle}">Post Title</a></li>
    </ul>
    <h3>Add a Post</h3>
    <section class="form">
    <form action="/category/addPost" method="POST" class="new-post-form">
        <div class="input-align">
        <label for="new-post-title" class="form__label">Title</label>
        <input class="title-box" type="text" name="postTitle" id="new-post-title">
        <br>
        <label for="new-post-model" class="form__label">Model</label>
        <input class="model-box" type="text" name="model" id="new-post-model">
        <br>
        <label for="new-post-year" class="form__label">Year</label>
        <input class="year-box" type="text" name="year" id="new-post-year">
        <br>
        <label for="new-post-body" class="form__label">Body</label>
        <input class="body-box" type="text" name="postBody" id="new-post-body">
        <br>
        <label for="new-post-author" class="form__label">Author</label>
        <input class="author-box" type="text" name="name" id="new-post-author">
        <br>
        <label for="new-post-hashtag" class="form__label">Hashtag</label>
        <input class="hashtag-box" type="text" name="hashtagName" id="new-post-hashtag">
        <br>
        </div>
        <br>
        <input type="hidden" name="categoryName" id="" th:value="${category.categoryName}">
        <button class="btn" type="submit">Submit</button>
    </form>
    </section>
</body>
</div>
<footer>
</footer>
</html>