<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
    <!-- <link rel="stylesheet" href="./css/home-layout.css" type="text/css" /> -->
    <title>Miata Blog</title>
  </head>
  <body>
    <header>
      <h1>Miata Blog</h1>
    </header>
    <section>
      <ul th:each="category: ${categories}">
        <li><a th:text="${category.name}" th:href="@{'/categories/'+${category.name}}">Maintenance</a></li>
        
      </ul>
    </section>
  </body>
</html>