<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Miata | Maintenance</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Maintenance</h1>
      <h2>Add description of what content should be about and rules.</h2>
    </header>
  </body>
</html>
